@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #201e2f;
    color: rgb(206, 188, 188);
    display: flex;
    flex-direction: row;
    margin: 0px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif !important;
}

#main-content {
  order: 1;
  width: 80%;
}

#balls {
  width: auto;
  height: 250px;
  background-repeat: no-repeat;
  background-image: url(/Pictures/Banner.png);
  background-size: cover;
  background-position-y: -150px;
  filter: blur(1.6px) brightness(0.69420);
}

.main-title {
  padding: 4px;
  margin: 4px;
  display: block;
  background-color: #5c596c;
  border-radius: 3px;
  font-weight:bolder;
  font-size: larger;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  text-decoration: none;
  background-color: rgb(135, 206, 235);
  padding: 4px 10px;
  margin: 4px;
  display: inline-block;
  color: black;
  font-weight: bold;
  width: 145px;
  transition: width 0.3s, background-color 0.3s;
}

.button:hover {
  width: 170px;
  background-color:  #9f2e5a;
}

#link {
  order: 2;
  width: 20%;
  background-color: rgba(255,255,255,0.12);
  height: 100vh;
  z-index: 2;
  box-shadow: 0px 0px 24px #0b1a27;
}

body h1 {
  margin-left: 40px;
}

a:hover {
  color: #242939;
}

.subtitle {
  background-color: #5c596c;
  border-radius: 3px;
  padding: 0px 3px; 
  z-index: 2;
  box-shadow: 0px 0px 5px #0b1a27;
}

#Profile, #Assignments, #teams, #yapping, #introduction {
  padding: 10px;

}

.p {
  background-color: #403e48;
  border-radius: 4px;
  padding: 0px 3px 9px; 
  z-index: 2;
  font-weight:550;
  box-shadow: 0px 0px 5px #0b1a27;
}