* {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif !important;
}

body {
  background-color: #201e2f;
  color:white;
  display:flex;
  flex-direction: row;
  margin: 0px;
}

#main-content {
  order: 1;
  width: 80%;
}

#balls {
  width: auto;
  height: 230px;
  background-repeat: no-repeat;
  background-image: url(/Pictures/Banner.png);
  background-size: cover;
  background-position-y: -150px;
  filter:blur(2px)
}

.main-title {
  padding: 4px;
  margin: 4px;
  display: inline-flex;
  background-color: #5c596c;
  border-radius: 3px;
  font-weight:bolder;
}

.button {
  text-decoration: none;
  background-color: rgb(135, 206, 235);
  padding: 4px 10px;
  margin: 4px;
  display: inline-block;
  color: black;
  font-weight: bold;
  width: 145px;
  transition: width 0.3s, background-color 0.3s;
}
.button:hover {
  width: 170px;
  background-color:  rgb(65, 148, 180);
}
#link {
  order: 2;
  width: 20%;
  background-color: rgba(255,255,255,0.12);
  height: 100vh;
  z-index: 2;
  box-shadow: 0px 0px 24px black;
}
body h1 {
  margin-left: 40px;
}
a:hover {
  color: rgb(224, 217, 207);
}
.subtitle {
  background-color: #5c596c;
  border-radius: 10px;
  padding: 0px 5px; 
}
#Profile {
  padding: 10px;
}
#Assignments {
  padding: 10px;
}
#teams {
  padding: 10px;
}
#yapping {
  padding: 10px;
}
#Introduction {
  padding: 10px;
}
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }  
  #main-content {
    order: 1;
    width: 100%;
  }
  #link {
    order: 2;
    width: 100%;
  }}