
body {
  background-color: #201e2f;
  color:white;
  display:flex;
  flex-direction: row;
  margin: 0px;
}
#main-content {
  order: 1;
  width: 80%;
}
#link {
  order: 2;
  width: 20%;
  background-color: rgba(255,255,255,0.12);
}
body h1 {
  margin-left: 40px;
}

a[href*='index.html'] {
  color: rgb(255, 255, 255);
}
a[href*='github.io'] {
  color: rgb(255, 255, 255);
}
a:hover {
  color: darkorange;
}
.subtitle {
  background-color: #5c596c;
  border-radius: 10px;
  padding: 0px 5px; 
}
#Profile {
  padding: 10px;
}
#Assignments {
  padding: 10px;
}
#teams {
  padding: 10px;
}
#yapping {
  padding: 10px;
}
#Introduction {
  padding: 10px;
}
