body {
    background-color: #201e2f;
    color:white;
    
}
body h1 {
    margin-left: 40px;
}
table, th, td {
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 1em;
}
a[href*='html'] {
 color: rgb(255, 255, 255);
}
a:hover {
 color: darkorange;
}
#title {
    background-color: rgba(255,255,255,0.12);
  }
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

  * {
      font-size: 1em;
      font-family: 'Quicksand', sans-serif;
  }
  